@import "tailwindcss";


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* Tablet Optimizations */
@layer utilities {
  .touch-target {
    @apply min-h-[44px] min-w-[44px];
  }
}